
.container {
  background-image: url("/images/background.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: var(--header-height);
  border-bottom: 1px solid var(--stroke-color);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.content {
  display: grid;
  grid-template-columns: 1fr 32px 32px;
  column-gap: 1rem;
  row-gap: .5rem;
  grid-template-rows: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  padding: .5rem;
  max-width: var(--xl);
  margin: 0 auto;
}