@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

:root {
  box-sizing: border-box;
  --bg-color: #001E31;
  --bg-color2: #00474F;
  --stroke-color: #07695b70;
  --success: #21C728;
  --success-dark: #118A16;
  --dark: #333;
  --light: #eee;
  --header-height: 88px;
  --sm: 480px;
  --md: 720px;
  --lg: 960px;
  --xl: 1200px;
  --max: 1440px;
}

html {
  color: var(--light);
  background-image: linear-gradient( var(--bg-color), var(--bg-color2));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.main {
  min-height: calc(100vh -var(--header-height));
  margin: var(--header-height) auto 0;
}

.title {
  @apply text-xl md:text-2xl lg:text-3xl text-center py-2;
}

.btn {
  @apply px-2 py-1 font-normal text-light rounded transition-colors border border-solid border-light;
}

.btn.ghost {
  @apply text-accent bg-opacity-0 border-accent;
}

.bg-success-gradient {
  background-image: linear-gradient( var(--success), var(--success-dark))!important;
}

.btn.ghost:hover {
  @apply bg-light;
}

.active {
  @apply bg-success;
}

@media screen and (min-width: 720px) {
  .main {
    padding: 0 .5rem;
  }
}
