@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

:root {
  box-sizing: border-box;
  --bg-color: #00263B;
  --dark: #333;
  --light: #eee;
  --header-height: 88px;
  --sm: 480px;
  --md: 720px;
  --lg: 960px;
  --xl: 1200px;
  --max: 1440px;
}

html {
  color: var(--light);
}
